<!-- <ag-grid-angular [stopEditingWhenGridLosesFocus]="false" #gridscore style="width:100%;height:39vh;"
  [rowData]="gridStuffs.rowData" [columnDefs]="gridStuffs.columnDefs" class="ag-theme-alpine"
  [defaultColDef]="gridStuffs.defaultColDef" [suppressDragLeaveHidesColumns]="true"
  (rowDoubleClicked)="gridStuffs.rowDoubleClicked($event)" (gridReady)="onGridReady($event)">
</ag-grid-angular> -->
<div style="position:relative;height:187px;overflow: auto;">
  <table mat-table [dataSource]="dataSource" style="width:100%;">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="entrydate">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element"> {{element.entrydate}} </td>
    </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="equifax">
    <th mat-header-cell *matHeaderCellDef> <img [src]="'./../assets/imgs/Equifax.svg'" style="width:50px;height:20px;"></th>
    <td mat-cell *matCellDef="let element"> {{element.equifaxpoints}} </td>
  </ng-container>


    <!-- Weight Column -->
    <ng-container matColumnDef="experian">
      <th mat-header-cell *matHeaderCellDef><img [src]="'./../assets/imgs/Experian.svg'" style="width:50px;height:20px;"></th>
      <td mat-cell *matCellDef="let element"> {{element.experianpoints}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="transunion">
      <th mat-header-cell *matHeaderCellDef><img [src]="'./../assets/imgs/TransUnion.svg'" style="width:60px;height:30px;"></th>
      <td mat-cell *matCellDef="let element"> {{element.transunionpoints}} </td>
    </ng-container>

    <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row style="height:35px;" *matRowDef="let row; columns: displayedColumns;" (dblclick)="highlight(row,$event)" ></tr>
  </table>

</div>
<br/>
<table  width="100%"><tr><td style="text-align: right;"><a class="linkfont" href="#1"  (click)="add($event)">Add</a></td><td></td></tr></table>
  <!-- <mat-paginator style="max-height:30px;" [pageSizeOptions]="[3]"
                 showFirstLastButtons 
                 aria-label="Select page of periodic elements">
  </mat-paginator> -->

